/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.Border {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 190px;
    height: 270px;
    border-radius: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px;
    cursor: pointer;   
    -webkit-user-select: none;   
       -moz-user-select: none;   
        -ms-user-select: none;   
            user-select: none;   
    background:-o-linear-gradient(315deg, transparent 20px, #1ae 0);   
    background:linear-gradient(135deg, transparent 20px, #1ae 0);
}

.Card {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 184px;
    min-height: 264px;
    background:-o-linear-gradient(315deg, transparent 20px, rgb(228, 244, 255) 0);
    background:linear-gradient(135deg, transparent 20px, rgb(228, 244, 255) 0);
    border-radius: 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    
}

.Additional {
    font-size: 10px;
    text-align: left;
    margin: 0 0 0 30px;
    font-weight: bold;
}

.Taste, .Name {
    text-align: left;
    margin: 0 0 5px 30px;  
}

 .Cat {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-image: url(../assets/images/cat.png);
    background-repeat:no-repeat;
    background-size: 130%;
    background-position-x: -20px;
    background-position-y: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
} 

.Round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #1ae;
}

.Weight {
    font-weight: bold;
    color: white;
    font-size: 24px;
    line-height: 14px;
}

.Kg {
    color: white;
    font-weight: bold;
}

.Text {
    color: white;
    font-weight: bold;
    font-size: 8px;
}

.Empty {
    color: yellow;
    font-weight: bold;
    font-size: 8px;  
}

.link {
    -webkit-text-decoration: underline #1ae dashed;
            text-decoration: underline #1ae dashed;
    cursor: pointer;
    color: #1ae;
}

.Border__selected {
    background:-o-linear-gradient(315deg, transparent 20px, #e16 0);
    background:linear-gradient(135deg, transparent 20px, #e16 0);
}
.Border__empty {
    background:-o-linear-gradient(315deg, transparent 20px, #999 0);
    background:linear-gradient(135deg, transparent 20px, #999 0);
    cursor: default;
    
}


.Round__selected {
    background-color: #e16;
}
.Round__empty {
    background-color: #999;
}

.blur {
    opacity: 50%;
}